.container {
    background: linear-gradient(135deg, rgba(98, 154, 221, 1) 0%, rgba(174, 238, 224, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Montserrat';

    .cardContainer {
        border-radius: 0.5rem;
        background-color: white;
        padding: 2rem;
        height: 32rem;
        width: 21rem;
        box-sizing: border-box;
        box-shadow: 0px 15px 30px -10px #417e6b;
        animation-name: cardSlide;
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
    }

    .userInfoContainer {
        height: 25rem;
    }

    .buttonsSection {
        button {
            border-radius: 0.3rem;
            border-color: transparent;
            padding: 0.4rem;
            cursor: pointer;
            background-color: #74adde;
            color: white;
            transition: all 0.3s ease;
            font-family: 'Crete Round';
            font-size: 1rem;

            &:hover {
                background-color: #71c6b8;
            }

            &:first-child {
                margin-right: 0.5rem;
            }
        }
    }
}

@keyframes cardSlide {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}
